* {
    margin: 0px;
    padding: 0px;

}


header {



    display: inline-block;
    width: 35%;
}

a {
   
     text-transform: uppercase;
   color: black;
    font-weight: 600;
    padding: 17px;
    text-decoration: none;
}

li {
    display: inline-block;
}

ul {


    display: inline-block;
}

i.fa.fa-bicycle {
    width: 15%;
    text-align: end;
    font-size: 36px;
    margin-top: 20px;
    color: black;
    font-weight: 700;
}

p.tlak {
    display: inline-block;
    font-weight: 500;
    width: 15%;
    text-align: end;
}

.sales {
    display: inline-block;

}

i.fa.fa-internet-explorer {
    padding: 18px 31px 5px 34px;
    font-size: 24px;
}

i.fa.fa-phone {
    font-size: 25px;
}

i.fa.fa-search {
    font-size: 22px;
}

p.log {
    display: inline-block;
    border: 2px solid;
    margin-left: 25px;
    padding: 8px 23px;
    font-weight: 500;
}

p.sing {
    display: inline-block;
    border: 2px solid;
    margin-left: 25px;
    padding: 8px 23px;
    font-weight: 500;
    background-color: #007c89;
    color: #fff;
}

.box-1 h3 {
    font-weight: 300;
    font-size: 59px;
    padding-bottom: 27px;
}

.box-1 p {
    font-size: 28px;
    font-weight: 300;
}

button {
    padding: 10px 21px;
    background-color: #007c89;
    margin-top: 25px;

    color: white;
    margin-right: 23px;
}

.box-1 {

    margin-top: 9pc;
}

img,
svg {
    vertical-align: middle;
    width: 100%;
    margin-top: 2pc;
}

.rohit {
    background-color: #ffe01b;
}

h2 {
    text-align: center;
    margin-top: 35px;
    font-family: Means Web, Georgia, Times, Times New Roman, serif;
    font-weight: 300;
    font-size: 33px;
}

.box-2 {

    margin-top: 9pc;
    padding: 18px;
}

p.your {
    font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana, sans-serif;
    padding: 34px 0px;
}

h3.sell {
    font-family: Means Web, Georgia, Times, Times New Roman, serif;
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1.1;
    letter-spacing: 0;
}

p.more {
    font-weight: bolder;
    font-size: 18px;
}

.Grow {
    text-align: center;
    padding: 50px;
}

.Grow h1 {
    color: #241c15;
    font-family: Means Web, Georgia, Times, Times New Roman, serif;
    font-size: 60px;
    margin-bottom: 32px;
    line-height: 1;
    letter-spacing: -.03125rem;
    color: white;
}

.Grow h2 {
    color: #403b3bd1;

    font-size: 22px;
    color: aliceblue;
    font-size: 21px;
    font-family: ui-monospace;
}

.box-3 {
    text-align: center;
    padding: 48px;
}


.rohit.pal:hover {
    background-color: aliceblue;}

.box-3 p {
    /* text-align: center; */
    margin-top: 46px;
    margin-left: -24px;
    color: white;
    font-size: 40px;
    font-family: ui-monospace;
}

.section-5 {
    background-image: url(https://www.rhinooffice.co.uk/hubfs/Jerroms46.jpg);
    background-position: center center;
    background-size: cover;
    background-color: #f6f6f4;
}

h1.Keep {
    text-align: center;
    padding-top: 4pc;
    color: #241c15;
    font-family: Means Web, Georgia, Times, Times New Roman, serif;

}

.box-4 {

    text-align: center;
    padding: 50px;
}

.box-4 h2 {
    font-size: 26px
}


.section-6 {
    background: rgb(251 238 202 / 60%);
    margin-bottom: 40px;
}

.box-4 img {
    width: 53%;
}

.box-5 {
    text-align: center;
}

.box-5 h1 {
    padding: 10px;
    font-size: 40px;
    font-family: Means Web, Georgia, Times, Times New Roman, serif;
}

.box-6 p {
    width: 57%;
}

.box-6 h4 {
    padding: 42px 0px;
    font-family: Means Web, Georgia, Times, Times New Roman, serif;
    font-weight: 300;
}

button.btn.btn :hover {
    border: 1px solid #0000ff45;
    padding: 10px;
    font-weight: 700;
}

.box-8 {
    padding: 86px;
    ;
}

button:hover {
    background-color: red;
}

button.btn.btn:hover {
    background-color: red;
    border: 1px solid;
    /* color: yellow; */
    background: yellow;
}

.box-3 img {
    border: 2px solid;
    width: 46%;
    background: aliceblue;
    border-radius: 26px;
}
section.with {
    background: aliceblue;}
   
    

section.the {
    background: antiquewhite;
    padding: 50px;
}
i.fa.fa-facebook {
    border: 2px solid;
    padding: 14px;
    background: white;
    font-size: 24px;
    width: 53px;
    border-radius: 26px;
    height: 54px;
    text-align: center;
}

li {
    margin-top: 49px;
}
p.info.heading {
    font-weight: 700;
    font-size: 21px;
}
button.btn.btn {
    font-weight: 700;
    font-size: 45px;
}